
@{
    ViewBag.Title = "Reservas";
}

<h2>Gestão de Reservas</h2>

<hr />

<div class="btn-group" role="group" aria-label="...">
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-primary" })
</div>

<hr />

@Html.Action("PV_List")