
@{
    ViewBag.Title = "Gestão de Salas";
}

<h2>Gestão de Salas</h2>

<hr />

<div class="btn-group" role="group" aria-label="...">
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-primary" })
</div>

<hr />

@Html.Action("PV_List")