@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Your Meeting</h1>
    <p class="lead">O melhor sistema para você gerenciar salas de reunião !!!</p>
</div>

<div class="row">
    <!-- Gestão de Salas -->
    <div class="col-md-6">
        <a href="/Sala/Index/" class="thumbnail">
            <div class="form-group" align="center">
                <h2>Gestão de Salas</h2>
                <hr />
                <p style="color:black">Gerencie as salas que podem ser reservadas !!!</p>
                <hr />
                <span class="btn btn-primary">Acessar >></span>
            </div>
        </a>
    </div>
    <!-- Gestão de Reservas -->
    <div class="col-md-6">
        <a href="/Reserva/Index/" class="thumbnail">
            <div class="form-group" align="center">
                <h2 >Gestão de Reservas</h2>
                <hr />
                <p style="color:black">Gerencie as reservas de salas de reunião !!!</p>
                <hr />
                <span class="btn btn-primary">Acessar >></span>
            </div>
        </a>
    </div>
</div>